@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

p#notification.footer-fade {
    text-align: left;
    font-family: 'Zilla Slab', serif;
}

p#notification.footer-fade b {
    font-size: 110%;
    font-family: 'Zilla Slab', serif !important;
}