@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

* {
    font-family: 'Zilla Slab', serif !important;
}

p#notification.footer-fade {
    text-align: left;
}

p#notification.footer-fade b {
    font-size: 110%;
}